#clockContainer {
    position: relative;
    margin: auto;
    border: 2px solid green;
    height: 40vw;
    width: 40vw;
    background: url(./Clock.png.jpg) no-repeat;
    background-size: 100%;
}

#hour,
#minute,
#second {
    position: absolute;
    background: #000000;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour {
    width: 1.8%;
    height: 17%;
    top: 34%;
    left: 48%;
    opacity: 0.8;
}

#minute {
    width: 1.4%;
    height: 22%;
    top: 29%;
    left: 48.15%;
    opacity: 0.8;
}

#second {
    width: 0.6%;
    height: 22%;
    top: 29%;
    left: 48.5%;
    opacity: 0.8;
}